:root{
	--color-bee: #a16b37;
	--color-plant: #879D5C;
}

body{
	font-family: 'Noto Sans', sans-serif;
	margin:2rem;
	background-color: rgb(244,244,241);
}

a, a:visited, a:active{
	color: var(--color-bee);
}